html, body {
  margin: 0;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(88, 88, 88));
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
	background-color: #000;
	color: #fff;
  font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
  overflow: hidden;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a, button, input, select {
	pointer-events: auto;
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#upload_button_save {
  position:fixed;
  /* right:520px; */
  left: 20px;
  bottom:20px;
  opacity:0.5;
  visibility: visible;
}

.lil-gui {
  --background-color:rgba(44, 44, 44, 0.6);
  --title-background-color:rgba(44, 44, 44, 0.6);
  --widget-color: rgba(75, 75, 75, 0.7);
  --number-color: #ff9127;
  --title-text-color: #ff9127;
  --text-color: rgb(190, 190, 190);
  --name-width: 20%;
  --widget-height: 24px;
  --slider-knob-width: 5px;
  --slider-input-width: 60px;
  --slider-input-min-width: 60x;
  --font-size: 16px;
  --input-font-size: 16px;
  --font-family: Monospace;
  z-index: 2 !important;
}

#about
{
  width: 500px;

  -moz-box-shadow: 5px 5px 7px #535353;
  -webkit-box-shadow: 5px 5px 7px #535353;
  box-shadow: 5px 5px 7px #535353;

  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 8px 8px;

  border-width: 0px;
  font-size: 16px;
  color:rgba(255, 255, 255, 0.8);
  background-color:rgba(75, 75, 75, 0.8);

  padding: 20px;
  padding-top: 30px;
  padding-left: 40px;
}

#form_upload {
  position: absolute;
  top: calc(50vh - 200px);
  left: calc(50vw - 100px); 
  border-radius: 4px;
  color: #ff9127;
  background-color:rgba(75, 75, 75, 0.7);
  font-size: 16px;
  padding: 30px;
  padding-top: 20px;
  padding-left: 40px;
  visibility: hidden;
  z-index: 999;
}

#glaze_info {
  position: fixed;
  right: 10px;
  top: 50px;
  /* color: #ff9127; */
  color:rgba(255, 255, 255, 0.5);
  margin: 10px;
  font-size: 120%;
  visibility: visible;
  /*visibility: hidden;*/
}

#main {
position: absolute;
width: 726px;
height: 884px;
top: 20px;
left: 16px;
background-color:white;
/* visibility: hidden; */
}

#logo {
  display:inline;
  vertical-align:middle;
  padding-top: 6px;
  padding-left: 10px;
  cursor: pointer;
}

#help {
  display:inline;
  float: right;
  vertical-align:middle;
  padding-top: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#text {
  display:inline;
  vertical-align:middle;
  padding-top: 7px;
  padding-left: 5px;
  padding-bottom: 4px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
  font-size: 180%;
  font-style: italic;
  color: #cccdce;
  z-index: 2;
  cursor: pointer;
}

#container{
  z-index: 99;  
}

#progress-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#progress-label {
  color: gray;
  font-size: 1.2rem;
}

/* Progress background: */
progress::-webkit-progress-bar {background-color:  gray; width: 100%;}
progress {background-color: gray;}

/* Progress value: */
progress::-webkit-progress-value {background-color: white !important;}
progress::-moz-progress-bar {background-color: white !important;}
progress {color: white;}

.mc_button {
  position: relative;
  margin: 3px;
  outline: 1px solid #fff;
}

.control {
  margin: 1px;
  background-color: #000000;
  padding: 7px 10px;
  border-radius: 4px;
  border:2px solid #aaaaaa;
  margin-top: 6px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color:#ff9127;
 }

#download_dlg
{
  width: fit-content;

  -moz-box-shadow: 5px 5px 7px #535353;
  -webkit-box-shadow: 5px 5px 7px #535353;
  box-shadow: 5px 5px 7px #535353;

  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 8px 8px;

  border-width: 0px;
  font-size: 16px;
  color:rgba(255, 255, 255, 0.8);
  background-color:rgba(75, 75, 75, 0.8);

  padding: 15px;
/*
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 30px;
*/
}
 